<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Hello</h2>
    <div class="row">
        <div class="col-md-12">
          <h1>Hi SUSE Rancher & osc korea friends!</h1>
          <h2>Release Version: <span th:text="${appVersion}"></span></h2>
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

  </body>

</html>
